* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.caixa-superior {
    background-image: url(./assets/background.png);
    background-size: cover;
    height: 90vh;
}

.cabecalho {
    padding-top: 25px;
    padding-left: 35px;
}

.titulo-cabecalho {
    font-size: 24px;
    color: #FFFFFF;
    display: inline;
}

.link-cabecalho {
    font-size: 14px;
    color: #FFFFFF;
    display: inline;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
}

h1 {
    font-size: 58px;
    color: #FFFFFF;
    position: relative;
    top: 280px;
    margin-left: 35px;
}

form {
    opacity: 0;
    transition: opacity 1s linear;
    background-color: #FFFFFF;
    border-radius: 10px;
    float: right;
    padding: 20px;
    margin-right: 130px;
    margin-top: -50px;
}

.mostrar-form {
    opacity: 1;
}

input {
    display: block;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    Width: 250px;
    Height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
}

textarea {
    display: block;
    Width: 250px;
    Height: 80px;
    background: #F9F9F9;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.titulo-form {
    font-size: 24px;
    color: #252B42;
    margin-bottom: 30px;
    text-align: center;
}

label {
    font-size: 14px;
    color: #252B42;
}

button {
    width: 250px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #40BB15;
    color: #FFFFFF;
}

.caixa-cental {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

#titulo-meio {
    font-size: 40px;
    color: #252B42;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    width: 300px;
    border-radius: 10px;
    background: #EEF6FF;
    border: 1px solid #A9D6FF;
    border-radius: 10px 10px 11px 11px;
}

.titulo-card {
    background: #219653;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

ul {
    padding: 20px;
}

li {
    margin-bottom: 5px;
    margin-left: 10px;
}

.caixa-inferior {
    background-color: #00095d;
}

#titulo-inferior {
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 50px;
}

.paragrafo-inferior {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 50px 50px 50px;
    text-indent: 1px;
}